footer{
    min-height: 200px;
    //background: url("../img/bottom-lg.png") no-repeat center bottom;
    background: url("../img/bottom.png") no-repeat center bottom;
    padding-top: 80px;
    font-size: 18px;

    p{
        font-size: 16px;
        margin-bottom: 2px;
    }
}