body {
    color: #5f5f5f;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    min-height: 100%;

    background: url("../img/main-bg-lg.png") repeat-y center center;
}

.wrapper{

}

header{
    width: 100%;
    position: relative;

    .logo a{
        display: block;
        width: 448px;
        height: 127px;
        background-image: url("../img/logo.png");
        position: absolute;
        top: 20px;
        left: 6px;
    }
    .top-menu-block{
        height: 40px;

        ul.top-menu{
            list-style: none;
            padding: 0;
            margin: 0;
            display: inline-block;

            li{
                display: inline-block;
                background: url("../img/kn_top_bg.png") no-repeat scroll 0 10px rgba(0, 0, 0, 0);
                height: 40px;
                margin: 0;
                padding: 0;

                &:first-child{
                    background: none;
                }
            }
            a.item{
                display: inline-block;
                padding: 5px 8px;
                font-size: 14px;
                color: #474747;
                font-family: Tahoma,Verdana,Helvetica,sans-serif;
                line-height: 36px;
            }
        }

        .btn-call{
            display: inline-block;
        }
    }
    .phone-block{
        padding-right: 30px;
        padding-bottom: 10px;
    }
    ul.main-menu{
        padding: 0;
        margin: 0;

        li{
            height: 30px;
            margin: 0;
            padding-right: 0;
            width: 192px;
            display: inline-block;
            background: url("../img/knop_sect_select.png") repeat-y scroll 0 0 #fff;
            background-size: 100% auto;

            &:hover{
                background-position: 0 0;
                background-size: 100% auto;

                a.item{
                    background: url("../img/knop_sect.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
                    background-size: 100% auto;
                    font-weight: normal;
                    height: 30px;
                    line-height: 30px;
                    padding: 0;
                    text-decoration: underline;
                    width: 100%;
                }
                ul{
                    display:block;
                }
            }

            a.item{
                display: block;
                padding: 5px 10px;
                text-align: center;
                text-decoration: none;
                color: #4f4f4f;
                font-size: 14px;
            }
            ul{
                background: url("../img/m_bg_big.png") repeat-y scroll 0 0 #fff;
                border: medium none;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.6);
                display: none;
                height: auto;
                margin-left: 1px;
                padding: 0;
                padding-bottom: 20px;
                padding-top: 20px;
                position: absolute;
                top: auto;
                width: 272px;
                z-index: 500;

                li{
                    background: url("../img/m_bg_big.png") repeat-y scroll 0 0 #fff;
                    display: inline-block;
                    width: auto;
                    width: 100%;
                    margin: 0;
                    padding: 0;

                    a{
                        padding-left: 20px;
                        font-size: 14px;
                        color: #4f4f4f;
                    }
                }
            }
        }
    }
    .tel-link{
        font-size: 28px;
        color: #000000;

        strong{
            font-size: 16px;
            color: #a1816a;
            font-weight: bold;
        }
        span{
            font-size: 16px;
            color: #ccc;
        }
    }
    .phone-block{
        p{
            font-size: 14px;
            color: #62350e;
            margin: 0;
            padding: 10px 0 0 137px;
            font-size: 16px;

            span.grey{
                color: #999;
                font-size: 13px;
            }

            span.tel{
                color: #a1816a;
            }
            a.clock{
                background: url("../img/clock.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
                display: inline-block;
                height: 11px;
                width: 11px;
                margin-right: 25px;
                &:hover{
                    background-position: 0 -50px;
                }
            }
        }  

        .last{
            .adress{
                width: 130px;
                float: right;
                padding-right: 3px;
            }
            .telephone{
                float: right;
            }
            span.hotel{
                color: #a1816a;
                font-size: 12px;
            }
        }
    } 
}

.seaerch-btn{
    background: url("../img/poisk.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    background-size: 100% 100%;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    height: 30px;
    line-height: 16px;
    text-shadow: 1px 1px 1px #d7a969;
    width: 70px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.input-search{
    border: 1px solid #d7a969;
    color: #000;
    width: 70%;
    height: 30px;
}
