.pad-0{
    padding: 0;
}
.pad-top-10{
    padding-top: 10px;
}
.pad-top-20{
    padding-top: 20px;
}
.pad-top-40{
    padding-top: 40px;
}
.pad-l-r-30{
	padding-left: 30px; 
	padding-right: 30px; 
}
.form-control{
    border-radius: 0;
}

.btn{
    border-radius: 0;
}

.mar-bot-15{
    margin-bottom: 15px;
}

////Fixed 970px

.container{
	max-width: 900px;
}