@media screen and (max-width: 1200px) {
    body {
        //background: url("../img/main-bg-md.png") repeat-y center center;
        background: url("../img/main_bg.jpg") repeat-y center center;
    }
    header ul.main-menu li{
        width: 145px;
    }
    footer{
        //background: url("../img/bottom-md.png") no-repeat center bottom;
        background: url("../img/bottom.png") no-repeat center bottom;
    }   
}
@media screen and (max-width: 992px) {
    body {
        background: url("../img/main-bg-sm.png") repeat-y center center;
    }

    header ul.main-menu li{
        width: 120px;
        a.item{
            padding: 5px 0;
        }
    }
    footer{
        background: url("../img/bottom-sm.png") no-repeat center bottom;        
    }
    main ul.left-menu li{
        background-position: left bottom;
    }
    header .top-menu-block ul.top-menu a.item{
        font-size: 12px;
    }
}
@media(max-width:767px){
    header ul.main-menu li a.item{
        padding: 5px 20px;
    }
    header ul.main-menu li{
        width: 100%;
    }
    .navbar-toggle .icon-bar{
        background-color: #FFF;
    }

    .navbar{
        background: #FBF2B6;
        border-bottom: 1px solid rgb(242,155,0);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        background-image: url("../img/logo-small.png");
        background-position: 15px 5px;
        background-size: auto 40px;
        background-repeat: no-repeat;

        .navbar-header{
            .tel-link{
                font-size: 16px;
                font-weight: bold;
                color: rgb(242,155,0);
                position: absolute;
                top: 12px;
                left: 65px;
            }
        }
    }

    main{
        padding-top: 60px;
    }
    main ul.left-menu li{
        background-size: 100% auto;
    }
    footer{
        padding-top: 110px;
        padding-bottom: 160px;
        background: url("../img/bottom-xs.png") no-repeat center top;        
    }
}