/* 
    Created on : Feb 11, 2015, 11:29:38 PM
    Author     : Mihai Starniciuc
*/

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import "compass";
@import "compass/layout";

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic);
@import url(http://fonts.googleapis.com/css?family=Lobster&subset=cyrillic,latin);

@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

@include sticky-footer(200px, ".wrapper", "#my-root-footer", "footer");

@import "helper";
@import "buttons";

@import "header";
@import "content";
@import "footer";

@import "responsiv";