/*  Created on : Feb 11, 2015, 11:29:38 PM Author     : Mihai Starniciuc
*/
/* ========================================================================== Author's custom styles ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic);
@import url(http://fonts.googleapis.com/css?family=Lobster&subset=cyrillic,latin);
html, body { height: 100%; }

.wrapper { clear: both; min-height: 100%; height: auto !important; height: 100%; margin-bottom: -200px; }
.wrapper #my-root-footer { height: 200px; }

footer { clear: both; position: relative; height: 200px; }

.pad-0 { padding: 0; }

.pad-top-10 { padding-top: 10px; }

.pad-top-20 { padding-top: 20px; }

.pad-top-40 { padding-top: 40px; }

.pad-l-r-30 { padding-left: 30px; padding-right: 30px; }

.form-control { border-radius: 0; }

.btn { border-radius: 0; }

.mar-bot-15 { margin-bottom: 15px; }

.container { max-width: 900px; }

.btn-call { background: #f29b00; /* Old browsers */ background: -moz-linear-gradient(left, #f29b00 0%, #ffb400 50%, #f29b00 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f29b00), color-stop(50%, #ffb400), color-stop(100%, #f29b00)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(left, #f29b00 0%, #ffb400 50%, #f29b00 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(left, #f29b00 0%, #ffb400 50%, #f29b00 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(left, #f29b00 0%, #ffb400 50%, #f29b00 100%); /* IE10+ */ background: linear-gradient(to right, #f29b00 0%, #ffb400 50%, #f29b00 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f29b00', endColorstr='#f29b00',GradientType=1 ); /* IE6-9 */ color: #FFFFFF; border: 1px solid #FFFFFF; -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.17); -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.17); box-shadow: 0 0 6px rgba(0, 0, 0, 0.17); border-radius: 0; cursor: pointer; padding-top: 3px; }
.btn-call:hover { color: #FFFFFF; }

.icon { display: inline-block; vertical-align: middle; width: 32px; height: 32px; background-size: 100% 100%; }
.icon.vk { background-image: url("../img/vk.png"); }
.icon.inst { background-image: url("../img/instagram.png"); }
.icon.sun { background-image: url("../img/sun.png"); width: 26px; height: 28px; }
.icon.bilding { background-image: url("../img/8.png"); width: 26px; height: 28px; }

.btn-reg { color: #966c23; border: 1px solid #FFFFFF; background: #dfbb76; /* Old browsers */ background: -moz-linear-gradient(left, #dfbb76 0%, #f9ecac 50%, #dfbb76 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, right top, color-stop(0%, #dfbb76), color-stop(50%, #f9ecac), color-stop(100%, #dfbb76)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(left, #dfbb76 0%, #f9ecac 50%, #dfbb76 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(left, #dfbb76 0%, #f9ecac 50%, #dfbb76 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(left, #dfbb76 0%, #f9ecac 50%, #dfbb76 100%); /* IE10+ */ background: linear-gradient(to right, #dfbb76 0%, #f9ecac 50%, #dfbb76 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfbb76', endColorstr='#dfbb76',GradientType=1 ); /* IE6-9 */ -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.17); -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.17); box-shadow: 0 0 6px rgba(0, 0, 0, 0.17); font-size: 12px; width: 115px; white-space: normal; display: inline-block; }

body { color: #5f5f5f; font-family: Tahoma, Verdana, Helvetica, sans-serif; background: url("../img/main_bg.jpg") repeat-y center center; }

header { width: 100%; position: relative; }
header .banner-slider { position: absolute; top: 0; z-index: 25; left: 0; width: 100%; }
header .banner-slider img { width: 100%; }
header .logo a { display: block; width: 448px; height: 127px; background-image: url("../img/logo.png"); position: absolute; top: 20px; left: 6px; }
header .top-menu-block { height: 40px; }
header .top-menu-block ul.top-menu { list-style: none; padding: 0; margin: 0; display: inline-block; }
header .top-menu-block ul.top-menu li { display: inline-block; background: url("../img/kn_top_bg.png") no-repeat scroll 0 10px transparent; height: 40px; margin: 0; padding: 0; }
header .top-menu-block ul.top-menu li:first-child { background: none; }
header .top-menu-block ul.top-menu a.item { display: inline-block; padding: 5px 8px; font-size: 14px; color: #474747; font-family: Tahoma,Verdana,Helvetica,sans-serif; line-height: 36px; }
header .top-menu-block .btn-call { display: inline-block; }
header .phone-block { padding-right: 30px; padding-bottom: 10px; }
header ul.main-menu { padding: 0; margin: 0; }
header ul.main-menu li { height: 30px; margin: 0; padding-right: 0; width: 145px; display: inline-block; background: url("../img/knop_sect_select.png") repeat-y scroll 0 0 #fff; background-size: 100% auto; }
header ul.main-menu li:hover { background-position: 0 0; background-size: 100% auto; }
header ul.main-menu li:hover a.item { background: url("../img/knop_sect.png") repeat-y scroll 0 0 transparent; background-size: 100% auto; font-weight: normal; height: 30px; line-height: 30px; padding: 0; text-decoration: underline; width: 100%; }
header ul.main-menu li:hover ul { display: block; }
header ul.main-menu li a.item { display: block; padding: 5px 10px; text-align: center; text-decoration: none; color: #4f4f4f; font-size: 12px; }
header ul.main-menu li ul { background: url("../img/m_bg_big.png") repeat-y scroll 0 0 #fff; border: medium none; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.6); display: none; height: auto; margin-left: 1px; padding: 0; padding-bottom: 20px; padding-top: 20px; position: absolute; top: auto; width: 272px; z-index: 500; }
header ul.main-menu li ul li { background: url("../img/m_bg_big.png") repeat-y scroll 0 0 #fff; display: inline-block; width: auto; width: 100%; margin: 0; padding: 0; }
header ul.main-menu li ul li a { padding-left: 20px; font-size: 14px; color: #4f4f4f; }
header .tel-link { font-size: 28px; color: #000000; }
header .tel-link strong { font-size: 16px; color: #a1816a; font-weight: bold; }
header .tel-link span { font-size: 16px; color: #ccc; }
header .phone-block p { font-size: 14px; color: #62350e; margin: 0; padding: 10px 0 0 137px; font-size: 14px; }
header .phone-block p span.grey { color: #999; font-size: 13px; }
header .phone-block p span.tel { color: #a1816a; }
header .phone-block p a.clock { background: url("../img/clock.png") no-repeat scroll 0 0 transparent; display: inline-block; height: 11px; width: 11px; margin-right: 15px; }
header .phone-block p a.clock:last-child { margin-right: 0; }
header .phone-block p a.clock:hover { background-position: 0 -50px; }
header .phone-block .last .adress { width: 130px; float: right; padding-right: 3px; }
header .phone-block .last .telephone { float: right; }
header .phone-block .last span.hotel { color: #a1816a; font-size: 12px; }
header .navbar { min-height: 33px; }

.seaerch-btn { background: url("../img/poisk.png") no-repeat scroll 0 0 transparent; border: 0 none; background-size: 100% 100%; color: #fff; cursor: pointer; font-size: 14px; font-weight: normal; height: 30px; line-height: 16px; text-shadow: 1px 1px 1px #d7a969; width: 70px; text-transform: uppercase; font-family: Arial, Helvetica, sans-serif; }

.input-search { border: 1px solid #d7a969; color: #000; width: 70%; height: 30px; }

.social-share { list-style: none; padding: 0; margin: 0; text-align: right; font-size: 16px; }
.social-share.text-left { text-align: left; margin-bottom: 15px; }
.social-share.text-left li { margin-left: 0; margin-right: 10px; }
.social-share li { display: inline-block; margin-left: 10px; }

.hr { margin: 10px 0; }
.hr img { width: 100%; }

h1 { font-size: 24px; color: #008bcf; font-family: Arial,Helvetica,sans-serif; font-weight: normal; margin: 0 0 15px; padding: 14px 0 5px; text-align: left; }
h1.query { font-size: 18px; }

h5 { font-size: 18px; font-weight: bold; }

p { font-size: 15px; font-family: Tahoma,Verdana,Helvetica,sans-serif; }

.qr-list { padding: 0; list-style: none; margin: 0; }
.qr-list li { width: 100px; display: inline-block; margin: 5px; text-align: center; }
.qr-list li img { width: 100%; margin-bottom: 10px; }
.qr-list li span { width: 100%; text-align: center; font-size: 16px; }

main { font-size: 16px; }
main a { color: #008bcf; text-decoration: underline; }
main a:hover { color: #fcc902; text-decoration: underline; }
main .breadcrumb { background: none; margin: 0; padding: 0; margin-bottom: 20px; }
main .breadcrumb li { color: #999999; font-size: 14px; }
main .breadcrumb li + li:before { content: "\2022"; }
main .breadcrumb li a { color: #008bcf; text-decoration: underline; }
main .breadcrumb li a:hover { color: #fcc902; text-decoration: underline; }
main ul.left-menu { padding: 0; margin: 0; list-style: none; }
main ul.left-menu li { padding-bottom: 2px; text-align: left; background: url("../img/menu-bg.png") center bottom no-repeat; }
main ul.left-menu li a { padding: 15px 0 15px 10px; color: #008bcf; font-size: 16px; display: block; }
main ul.left-menu li a.selected { font-weight: bold; }
main ul.left-menu li > ul { display: none; }
main ul.left-menu li.selected > ul, main ul.left-menu li:hover > ul { display: block; background-color: #fdf8e2; list-style: none; padding: 0; }
main ul.left-menu li.selected > ul li, main ul.left-menu li:hover > ul li { padding: 5px 10px; background: none; }
main ul.left-menu li.selected > ul li a, main ul.left-menu li:hover > ul li a { padding: 0; }
main table.price-table tr th { background-color: #f4f4f4; font-weight: normal; font-size: 16px; padding: 6px 6px 6px 10px; color: #008bcf; border-bottom: 1px dashed; }
main table.price-table tr td { padding: 10px; font-size: 15px; }
main table.price-table tr td.price { font-weight: bold; white-space: nowrap; text-align: right; }
main table.price-table tr td:last-child { white-space: nowrap; }
main table.price-table tr td:last-child i { margin-right: 10px; }
main table.price-table tr:nth-child(odd) { background-color: #f4f4f4; }
main .price-block { background-color: #fdf8e2; padding: 15px; font-size: 14px; }
main .price-block i { margin-right: 5px; }
main .form-block { background: none repeat scroll 0 0 #f0de92; border: 1px solid #fff; border-radius: 5px; box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3); color: #716340; margin: 20px 0; padding: 20px; font-size: 14px; }
main .form-block label { font-size: 12px; font-weight: normal; }
main .form-block input.form-control { height: 27px; }
main .form-block h4 { font-weight: normal; font-size: 16px; color: #008bcf; }
main .form-block.grey h4 { color: #6e4d2a; }
main .form-block .btn-reg { width: 180px; }
main .form-block .input-group.date input { border-right: 0; }
main .form-block .input-group-addon { background: none; padding: 0; background-color: #FFFFFF; border: 1px solid #CCCCCC; border-left: 0; border-radius: 0; padding-right: 5px; }
main .text-block { margin-top: 15px; }
main .text-block .image-block { width: 280px; float: left; margin-right: 25px; }
main .text-block .image-block img { width: 100%; margin-bottom: 10px; }
main .text-block .image-block .btn-reg { width: 100%; }
main .text-block ul { padding-left: 15px; }
main .query-block .item-q { border-top: 1px solid #d1d0d0; padding: 15px 0; font-size: 15px; color: #494848; }
main .query-block p { margin-bottom: 5px; }
main .query-block p.name { font-weight: bold; }
main .query-block .asker { margin-bottom: 15px; }
main .query-block .answer { padding-left: 50px; }

.nivoSlider { margin-top: 80px; -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7); -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7); box-shadow: 0 0 5px rgba(0, 0, 0, 0.7); }

footer { min-height: 200px; background: url("../img/bottom.png") no-repeat center bottom; padding-top: 80px; font-size: 18px; }
footer p { font-size: 18px; }

@media screen and (max-width: 1200px) { body { background: url("../img/main_bg.jpg") repeat-y center center; }
  header ul.main-menu li { width: 145px; }
  footer { background: url("../img/bottom.png") no-repeat center bottom; } }
@media screen and (max-width: 992px) { body { background: url("../img/main-bg-sm.png") repeat-y center center; }
  header ul.main-menu li { width: 120px; }
  header ul.main-menu li a.item { padding: 5px 0; }
  footer { background: url("../img/bottom-sm.png") no-repeat center bottom; } }
@media (max-width: 767px) { header ul.main-menu li a.item { padding: 5px 20px; }
  header ul.main-menu li { width: 100%; }
  .navbar-toggle .icon-bar { background-color: #FFF; }
  .navbar { background: #FBF2B6; border-bottom: 1px solid #f29b00; position: fixed; top: 0; left: 0; width: 100%; z-index: 99; background-image: url("../img/logo.png"); background-position: 15px 5px; background-size: auto 40px; background-repeat: no-repeat; }
  .navbar .navbar-header .tel-link { font-size: 13px; font-weight: bold; color: #f29b00; position: absolute; top: 0px; left: 65px; }
  main { padding-top: 60px; } }

/*# sourceMappingURL=main.css.map */
